html{
    box-sizing: border-box;
}
*,*:after,*:before{
    box-sizing: inherit;
}

.body{
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #4F302A;
}

.form{
    max-width: 600px;
    width: 100%;
}

.header{
    padding-bottom: 40px;
}

.header__subtitle{
    color: #C57869
}
.header__title{
    color: #B16C5F
}